body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    color: #000000;
}

.cabecalho {
    text-align: center;
    padding: 20px;
    background-color: #dd006b;
}

.display .box-inline {
    display: inline;
    background-color: rgb(0, 0, 115);
    padding: 5px;
}

.display .box-block {
    display: block;
    background-color: rgb(218, 5, 5);
    padding: 10px;
    margin-top: 5px;
}

.display .box-inline-block {
    display: inline-block;
    background-color: rgb(6, 153, 6);
    padding: 10px;
    margin-top: 5px;
}

.display .box-none {
    display: none;
}


.tamanho-box {
    width: 300px;
    max-width: 100%;
    height: 100px;
    min-height: 80px;
    background-color: rgb(107, 92, 223);
    border: 1px solid #333;
    text-align: center;
    line-height: 100px;
}


.margem-box {
    background-color: #ffd;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #000;
}


.padding-box {
    background-color: #def;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #333;
}


.borda-box {
    border: 3px solid #0077ff;
    border-radius: 15px;
    padding: 15px;
    background-color: #fff;
}


.fundo-box {
    text-align: center;
    background-color: rgb(162, 6, 34);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2TqDFXlr_8VAMjtK43d-7ERmaqw2jYL3m5w&s');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 30px;
    border-radius: 8px;
}



.lista-exemplo {
    list-style: circle;
    padding-left: 20px;
}

.botao {
    background-color: #0077ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    background-color: #dc008c;
    transform: scale(1.05);
}