.fonte-imperial-script {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
  }
  .text-decoration-underline {
    text-decoration: underline;
    display: block;
  }
  .italico {
    font-style: italic;
    display: block;

  }
  .negrito {
    font-weight: bold;
    display: block;
  }
  .maiusculo {
    text-transform: uppercase;
    display: block;
  }
  .minusculo{
    text-transform: lowercase;
    display: block;
  }
  .capitalizar {
     text-transform: capitalize;
     display: block;
  }
  .alterar-fonte {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
  }
  .linha-maior{
    line-height: 1.9;
    display: block;
  }
  .espacamento-entre-linhas {
    letter-spacing: 0.12em;
    display: block;
  }
  .espacamento-entre-palavras {
    word-spacing: 0.6em;
    display: block;
  }
  .alinhamento-direita { text-align: right; }
  .alinhamento-centro { text-align: center;}
  .alinhamento-left { text-align: left;}
  .paragrafo-recuo-primeira-linha {
    text-indent: 2em;
    display: block;
  }
  .paragrafo-hifenizacao-automatica {
    hyphens: auto;
    text-align: justify;
    display: block;
  }